<div class="container">
  <h1>Stupid Coaching</h1>
  <form action="answer">
    <p>Ask your coach anything:</p>
    <input type="text" name="question">
    <input type="submit" class="btn btn-primary" value="Ask!">
  </form>
</div>
